body {
  background-color: black;
  color: #e7e9ea;
  font-family: "Great Vibes", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#login-logo {
  font-size: 25rem;
  display: flex;
  justify-content: center;
  padding: 10rem;
}

h1 {
  font-size: 5rem;
}

h5 {
  font-size: 2.5rem;
}

.sign-in {
  display: flex;
  flex-direction: column;
}

.sign-in input,
.sign-in button,
.create-account button {
  border-radius: 2rem;
  padding: 0.9rem;
  font-size: medium;
  margin-bottom: 0.9rem;
  width: 20rem;
}

.sign-in button {
  background: transparent;
  color: #1d9bf0;
  border: 2px solid #1d9bf0;
}

.sign-in button:hover {
  cursor: pointer;
  background: #1d9bf0;
  color: black;
}

.create-account button {
  background: #1d9bf0;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}

h3 {
  margin-top: 2rem;
}

/* ============ Media Queries (medium screen) =============== */

@media screen and (max-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.4rem;
  }

  #login-logo {
    font-size: 5rem;
  }
}

/* ============ Media Queries (small screen) =============== */

@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.4rem;
  }

  #login-logo {
    font-size: 5rem;
  }
}
